In [8]:
import spacy
from spacy.tokenizer import Tokenizer

nlp = spacy.load("en_core_web_sm")

tokenizer = Tokenizer(nlp.vocab)

sent1 = "I am a student."
sent2 = "J is the alphabet that follows i."
sent3 = "Is she a student trying to become a data scientist?"

sent_lst = [sent1, sent2, sent3]

In [9]:
#토큰화 프로세스는 토크나이저의 tokenize() 메서드에 의해 수행
#함수 내 함수 연속적용

total_tokens = []

for i, sent in enumerate(tokenizer.pipe(sent_lst)):
    sent_token = [token.text for token in sent]
    total_tokens.extend(sent_token)#하나한 원소를 다 넣는다는 뜻임 #append와 다름
    print(f"sent {i} : {sent_token}")

token_set = set(total_tokens)

print(f""" 
total_tokens : {token_set}
#_of_total_tokens : {len(token_set)}
""")

sent 0 : ['I', 'am', 'a', 'student.']
sent 1 : ['J', 'is', 'the', 'alphabet', 'that', 'follows', 'i.']
sent 2 : ['Is', 'she', 'a', 'student', 'trying', 'to', 'become', 'a', 'data', 'scientist?']

total_tokens : {'J', 'Is', 'a', 'become', 'trying', 'the', 'i.', 'is', 'that', 'data', 'she', 'scientist?', 'I', 'to', 'am', 'alphabet', 'student.', 'student', 'follows'}
#_of_total_tokens : 19

In [5]:
###  tokenizer.pipe(sent_lst)  ###
for i in tokenizer.pipe(sent_lst):
    print(i)

type(i) #spacy.tokens.doc.Doc 문자형태가 다름

I am a student.
J is the alphabet that follows i.
Is she a student trying to become a data scientist?

spacy.tokens.doc.Doc

In [6]:
for i in sent_lst:
    print(i)

type(i)

I am a student.
J is the alphabet that follows i.
Is she a student trying to become a data scientist?

str

In [9]:
#token.text로 나뉨
sent_token

['Is',
 'she',
 'a',
 'student',
 'trying',
 'to',
 'become',
 'a',
 'data',
 'scientist?']

In [10]:
#set을 통해서 집합형태로 묶음, 순서가 없고 집합안에서 unique한 값들을 가짐
print(type(total_tokens))
print(type(set(total_tokens)))

<class 'list'>
<class 'set'>

---

In [5]:
#sent_token = [token.text for token in sent]
#token_set = set(total_tokens)
# word2idx(sent, total)형태로 작성하면 함수를 사용할 수 있음
# 
def word2idx(sent, total):
    sent_token = sent.split()
    return [1 if word in sent_token else 0 for word in total]


sent1_idx = word2idx(sent1, token_set)
sent2_idx = word2idx(sent2, token_set)
sent3_idx = word2idx(sent3, token_set)

In [64]:
sent1_idx

[0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0]

In [ ]:
token_set

In [6]:
import pandas as pd
# columns=token_set
dtm = pd.DataFrame([sent2_idx, sent2_idx, sent3_idx],  columns=set(total_tokens))
dtm.shape

(3, 19)

In [7]:
dtm

,J,Is,a,become,trying,the,i.,is,that,data,she,scientist?,I,to,am,alphabet,student.,student,follows
0,1,0,0,0,0,1,1,1,1,0,0,0,0,0,0,1,0,0,1
1,1,0,0,0,0,1,1,1,1,0,0,0,0,0,0,1,0,0,1
2,0,1,1,1,1,0,0,0,0,1,1,1,0,1,0,0,0,1,0

In [10]:
'student' in ['student.']

False

In [ ]:
import re #정규표현식 모듈,  특정 규칙이 있는 텍스트 데이터를 빠르게 정제
def lower_and_regex(sentence):
    """
    모든 대문자를 소문자로 변경 후
    정규식을 이용하여 알파벳 소문자 이외의 구두점 삭제
    """
    sentence = sentence.lower() #소문자로 바꿈
    #re.sub문자열에서 정규 표현식과 일치하는 부분에 대해서 다른 문자열로 대체합니다.
    sentence = re.sub(r"[^a-z ]", "", sentence)
    return sentence

prep_sent_lst = [lower_and_regex(sent) for sent in sent_lst]